

@{

	//https://docs.microsoft.com/en-us/aspnet/web-pages/overview/data/5-working-with-data
	// c# razor validation errors

	Validation.RequireField("ProjectNumber", "ProjectNumber is required.");
   	Validation.RequireField("ProjectName", "ProjectName is required.");
    Validation.RequireField("ProjectDescription", "ProjectDescription is required.");
	Validation.RequireField("Authors", "Authors is required.");
	Validation.RequireField("UploadDate", "UploadDate");
	Validation.RequireField("ProjectTag1", "ProjectTag1");

    var db = Database.Open("computerscienceprojectportal");

	var ProjectNumber = Request.Form["ProjectNumber"];
    var ProjectName = Request.Form["ProjectName"];
    var ProjectDescription = Request.Form["ProjectDescription"];
	var Authors = Request.Form["Authors"];
	var UploadDate = Request.Form["UploadDate"];
	var ProjectTag1 = Request.Form["ProjectTag1"];

   if (IsPost && Validation.IsValid()) {
        // Define the insert query. The values to assign to the
        // columns in the Product table are defined as parameters
        // with the VALUES keyword.
        if(ModelState.IsValid) {
            var insertQuery = "INSERT INTO computerscienceprojectportal.computerscienceprojectportal.PROJECT " +
                "VALUES (@0, @1, @2, @3, @4, @5)";
            db.Execute(insertQuery, ProjectNumber, ProjectName, ProjectDescription, Authors, UploadDate, ProjectTag1);
            // Display the page that lists products.
            Response.Redirect("searchresults.cshtml");
        }
    }
}

</html>
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta name="description" content="WebDev">
  <meta name="keywords" content="Computer Science Project Portal">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <title>Computer Science Project Portal</title>

  <!-- Bootstrap css -->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">

  <!-- Custom CSS  - put last to override bootstrap where needed-->
  <link rel="stylesheet" href="CSPPstylesheet.css">
  <link rel="stylesheet" href="addStyle.css">
  <script src="jquery-3.3.1.js"></script>
  <script src="add-project.js"></script>
  <script src="CSPPJQuery.js"></script>

</head>
<body>
  <header>
    <!-- DOM innerHTML logo text -->
    <div id="universal-header"></div>
    <!-- DOM innerHTML navigation bar -->
    <div id="universal-navbar"></div>
  </header>
  <main>
    <div class="container container-add">
      <h1 class="pageintroduction">Add Project</h1>
			@Html.ValidationSummary()
      <div id="formWrapper">
        <form name="AddProject" id="AddProject" method="post" " onsubmit="return validateForm();">
          <div id="rowf" class="form-group">
            <label for="ProjectNumber" class="label-Project">ProjectNumber</label>
            <input class="form-control" type="text" name="ProjectNumber" id="ProjectNumber" placeholder="ProjectNumber ">
            <p id="ProjectNumber-error" class="customFormErrorText"></p>
          </div>
          <div id="rowA" class="form-group">
            <label for="ProjectName" class="label-Project">ProjectName</label>
            <input class="form-control" type="text" name="ProjectName" id="ProjectName" placeholder="ProjectName">
            <p id="ProjectName-error" class="customFormErrorText"></p>
          </div>
          <div id="rowe" class="form-group">
            <label for="ProjectDescription" class="label-Project">ProjectDescription</label>
            <input class="form-control" type="text" name="ProjectDescription" id="ProjectDescription" placeholder="ProjectDescription">
            <p id="ProjectDescription-error" class="customFormErrorText"></p>
          </div>
          <div id="rowg" class="form-group">
            <label for="Authors" class="label-Project">Authors</label>
            <textarea class="form-control" rows="3" name="Authors" id="Authors" placeholder="Authors"></textarea>
            <p id="Authors-error" class="customFormErrorText"></p>
          </div>
          <div id="rowh" class="form-group">
            <label for="UploadDate" class="label-Project">UploadDate </label>
            <textarea class="form-control" rows="3" name="UploadDate" id="UploadDate" placeholder="has to be 10/2/2020"></textarea>
            <p id="UploadDate-error" class="customFormErrorText"></p>
          </div>
          <div id="rowi" class="form-group">
            <label for="ProjectTag1" class="label-Project">ProjectTag1</label>
            <textarea class="form-control" rows="3" name="ProjectTag1" id="ProjectTag1" placeholder="ProjectTag1"></textarea>
            <p id="ProjectTag1-error" class="customFormErrorText"></p>
          </div>
          <div id="rowk" class="form-group">
              <div class="col-sm">
                <button class="btn btn-dark btn-lg btn-form login-butto float-right" type="submit">Add Project</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
  <footer>
    <!-- DOM innerHTML footer -->
    <div id="universal-footer"></div>
  </footer>

</body>
</html>
