
body {
  font-family: Lato, sans-seri;
  background-color: #fefbf9;
  background: url(./PageBackgroundHeader3.png) no-repeat top center;
  background-size: contain;

}

::placeholder {
  color: #D3D3D3 !important;
}

.nav-ul-head {
  height: 60px;
}
.customFormErrorText {
  color: red;
  padding-bottom: .7rem;
}

.headerimg {
  margin-top:10%;
}

.button {
  font-size: 20pt;
  padding: 7px;
  border: 1px solid #525050;
  border-radius: .5em;
  font-family: Lato, sans-serif;
  background-color: #E6DEF6;
  cursor: pointer;

}

/* 1em = 10px Only one here with purple shadow - was - box-shadow: 0px 15px 20px #d7caf1; */
.button:hover {
  box-shadow: 4px 12px 20px #525050;
}

.btntxtsmall {
  font-size: 12pt;
  padding: 4px;
}

.universal-services{
  background-color: #f6e6de;
}

.container-header {
  display: flex;
}

.wrapper {
  margin-top: 10%;
}

.form-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20%;
  margin-top: 10%;
}

.makeWidth {
  width: 100%;
}

.nav {
  background-color: black;
  border-radius: 10px;
}

.nav-fill  > .nav-1 {
  text-align: left;;
  margin-left: 5%;
}

.nav-fill  > .nav-2 {
  text-align: right;;
  margin-right: 5%;
}
.nav-head {
  color: #fefbf9;
  font-family: Brilliants, sans-seri;
  font-size:25pt;
}

.nav-head:hover {
  background-color: #282727;
  color: #fefbf9;
  text-decoration: none;
}

.nav-link:active {
  background-color: #3D3C3C;
  color: #fefbf9;
  border-radius: 10px;

}

.logo-header {
  color: black;
  font-family: Brilliants, sans-seri;
  font-size: 60pt;
  padding-top: 4%;
  font-weight: 400;
}

.tinyheader {
  font-size: 12pt;
  font-family: Lato, sans-seri;
}

.sub-logo-header {
  margin: 1%;
  font-family: Lato, sans-seri;
  font-size: 30pt;
  text-align: center;
  border-top: solid 5px;
}

.cs-logo{
  margin-top: 3%
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 38px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 100%;
}

.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

.container-search {
  margin-bottom: 25%;
  margin-top: 15%;
}

.row {
  padding-left: 20%;
}

.btn-search{
  text-align: center;
}

.search-item-button {
  margin-top: 30px;
  margin-left: 6%;
  margin-right: 6%;
  text-align: center;
  width: 180px;
}


.form-group{
  display: flex;
}

.control-label {
  width: 250px;
}

.btn-form {
  margin-left: 65%;;
}

.btn {
  width: 150px;
  height: 48px;
}
.footer {
  font-family: Brilliants, sans-seri;
  font-size: 21pt;
  padding-top: 1rem;
  margin-top: 25%;
}

#dLabel {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #cccccc;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
}

.caret {
  float: right;
  margin-top: 9px;
  display: block;
}

.dropdown-menu {
  width: 240px;
  padding: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dropdown button:hover, .dropdown button:focus {
  border: none;
  outline: 0;
}

.dropdown.open button#dLabel {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  border: solid 1px #666;
  border-bottom: none;
}

.dropdown.open ul {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);
  border: solid 1px #666;
  border-top: none;
  height: 200px;
  overflow-y: scroll;
}

.dropdown-menu li {
  line-height: 1.5;
  letter-spacing: 0.7px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  padding: 7.5px 15px;
  border-top: solid 1px #f3f3f3;
}

.dropdown-menu li:hover {
  background-color: #ccc;
}

@media (max-width: 768px) {
  .pageintroduction {font-size: 25pt;}
  .nav-link {font-size: 20pt;}
  .logo-header {font-size: 45pt;}
  .tinyheader {font-size: 9pt;}
  .sub-logo-header {font-size: 12pt;}
  .footer {font-size: 16pt;}
  .headerimg {padding-left:10%; padding-right:10%;}
  .headerimg2 {padding-left:10%; padding-right:10%;}
  .servicesbuttons .pageintroduction {font-size: 23pt;}

}

.right-footer{
  margin: 0  2%  0 2%;
}


@media (max-width: 576px) {
  .pageintroduction {font-size: 20pt;}
  .nav-link {font-size: 18pt;}
  .logo-header {font-size: 40pt;}
  .tinyheader {font-size: 6pt;}
  .sub-logo-header {font-size: 8pt;}
  .footer {font-size: 12pt;}
  .headerimg {padding-left:10%; padding-right:10%;}
  .headerimg2 {padding-left:10%; padding-right:10%;}
  .servicesbuttons .pageintroduction {font-size: 18pt;}

}



@font-face {
  font-family: Brilliants;
  src: url(Brilliantsignature1regular.otf) format("opentype");
}

@font-face {
  font-family: Lato, sans-serif;
  src: url(Lato-Light.ttf) format("truetype");
}
