
.container-search-form {
  width: 70%;
  margin-bottom: 10%;
}


.pageintroduction {
  margin-top: 7%;
  margin-bottom: 5%;
}

.search-form-label {
  width: 300px;
}

#rowi{
  margin-bottom: 5%;
}

.btn-search-form {
  margin-left: 1%;
}
