
@{

// c# razor
//https://www.w3schools.com/asp/razor_syntax.asp

var ProjectName = Request.Form["ProjectName"];
var ProjectDescription = Request.Form["ProjectDescription"];
var Authors = Request.Form["Authors"];
var ProjectTag1 = Request.Form["ProjectTag1"];

if (IsPost) {
  var BaseResponseRedirectString = "searchresults.cshtml?";
  var ProjectNameURL = "";
  var ProjectDescriptionURL = "";
  var AuthorsURL = "";
  var ProjectTag1URL = "";

if (ProjectName != "") {
  ProjectNameURL = "&projectname=" + ProjectName;
}

if (ProjectDescription != "") {
  ProjectDescriptionURL = "&projectdescription=" + ProjectDescription;
}


if (Authors != "") {
  AuthorsURL = "&authors=" + Authors;
}


if (ProjectTag1 != "") {
  ProjectTag1URL = "&projecttag1=" + ProjectTag1;
}


  Response.Redirect(BaseResponseRedirectString+ProjectNameURL+ProjectDescriptionURL+AuthorsURL+ProjectTag1URL);
      }
    
}


<!DOCTYPE html>
<html lang="en">
<head>


  <!-- Required meta tags -->
  <meta name="description" content="WebDev">
  <meta name="keywords" content="Computer Science Project Portal">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <title>Computer Science Project Portal</title>

  <!-- Bootstrap css -->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">

  <!-- Custom CSS  - put last to override bootstrap where needed-->
  <link rel="stylesheet" href="CSS/CSPPstylesheet.css">

  <script src="JS/jquery-3.3.1.js"></script>
  <script src="JS/CSPPjavascript.js"></script>
  <script src="JS/CSPPJQuery.js"></script>

</head>
<body>
    <header>
        <!-- DOM innerHTML navigation bar -->
        <div id="universal-navbar"></div>
        <!-- DOM innerHTML logo text -->
        <div id="universal-header">
            <div>

                <div class="container container-search-form">
                    <h1 class="pageintroduction">Search Projects</h1>

                    <div id="formWrapper">
                        <form name="SearchProject" id="SearchProject" method="post">

                            <div id="rowA" class="form-group">
                                <label for="ProjectName" class="search-form-label">ProjectName</label>
                                <input class="form-control" type="text" name="ProjectName" id="ProjectName" placeholder="ProjectName">
                                <p id="ProjectName-error" class="customFormErrorText"></p>
                            </div>
                            <div id="rowe" class="form-group">
                                <label for="ProjectDescription" class="search-form-label">ProjectDescription</label>
                                <input class="form-control" type="text" name="ProjectDescription" id="ProjectDescription" placeholder="ProjectDescription">
                                <p id="ProjectDescription-error" class="customFormErrorText"></p>
                            </div>


                            <div id="rowg" class="form-group">
                                <label for="Authors" class="search-form-label">Authors</label>
                                <textarea class="form-control" rows="1" name="Authors" id="Authors" placeholder="Authors"></textarea>
                                <p id="Authors-error" class="customFormErrorText"></p>
                            </div>

                            <div id="rowi" class="form-group">
                                <label for="ProjectTag1" class="search-form-label">ProjectTag1</label>
                                <textarea class="form-control" rows="1" name="ProjectTag1" id="ProjectTag1" placeholder="ProjectTag1"></textarea>
                                <p id="ProjectTag1-error" class="customFormErrorText"></p>
                            </div>

                            <div id="rowk" class="form-group">
                                <div class="row btn-search-form">
                                    <div class="col-sm ">
                                        <button class="btn btn-dark btn-form-search" type="submit" id="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </header>

  

  <footer>
    <!-- DOM innerHTML footer -->
    <div id="universal-footer"></div>
  </footer>

</body>
</html>
