
@{

// c# razor
//https://www.w3schools.com/asp/razor_syntax.asp

var ProjectName = Request.Form["ProjectName"];
var ProjectDescription = Request.Form["ProjectDescription"];
var ProjectTag1 = Request.Form["ProjectTag1"];

if (IsPost) {
  var BaseResponseRedirectString = "ProjectList.aspx?";
  var ProjectNameURL = "";
  var ProjectDescriptionURL = "";
  var ProjectTag1URL = "";

if (ProjectName != "") {
  ProjectNameURL = "&projectname=" + ProjectName;
}

if (ProjectDescription != "") {
  ProjectDescriptionURL = "&projectdescription=" + ProjectDescription;
}

if (ProjectTag1 != "") {
  ProjectTag1URL = "&projecttag1=" + ProjectTag1;
}


  Response.Redirect(BaseResponseRedirectString+ProjectNameURL+ProjectDescriptionURL+ProjectTag1URL);
      }
    
}





<!DOCTYPE html>
<html lang="en">
<head>

   <!-- Required meta tags -->
    <meta name="description" content="WebDev">
    <meta name="keywords" content="Computer Science Project Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">

    <title>Computer Science Project Portal</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!-- Custom CSS  - put last to override bootstrap where needed-->
    <link rel="stylesheet" href="CSS/CSPPstylesheet.css">

    <script src="JS/jquery-3.3.1.js"></script>
    <script src="JS/CSPPJQuery.js"></script>

</head>



<body>
    <header class="header-banner">
	

        <div id="universal-navbar">
            <div class="container-fluid">
                <nav class="navbar">
                    <img class="cs-logo" src="Images/Logo.png" alt="cs-portal-logo">
                    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTarget" aria-expanded="false">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <div id="navbarTarget" class="collapse">
                        <ul class="nav nav-fill ">
                            <li class="nav-item"> 
							   <a class="nav-link nav-projectlist" href="Index.aspx">Home</a>                         
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-projectlist" href="ProjectList.aspx">Project List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-submit" href="submitsearch.cshtml">Search Project</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="registeration.aspx">Signup</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
	</header>
		
		
		
	<main class="projectMain">
        <div class="container container-add">
            <div id="formWrapper">
                <form  name="SearchProject" id="SearchProject" method="post" >

                    <div id="rowA" class="form-group">
                        <label for="ProjectName" class="search-form-label">ProjectName</label>
                        <input class="form-control" type="text" name="ProjectName" id="ProjectName" placeholder="ProjectName">
                        <p id="ProjectName-error" class="customFormErrorText"></p>
                    </div>

                    <div id="rowe" class="form-group">
                        <label for="ProjectDescription" class="search-form-label">ProjectDescription</label>
                                <input class="form-control" type="text" name="ProjectDescription" id="ProjectDescription" placeholder="ProjectDescription">
                        <p id="ProjectDescription-error" class="customFormErrorText"></p>


                    <div id="rowi" class="form-group">
                       <label for="ProjectTag1" class="search-form-label">ProjectTag1</label>
                                <textarea class="form-control" rows="1" name="ProjectTag1" id="ProjectTag1" placeholder="ProjectTag1"></textarea>
                        <p id="ProjectTag1-error" class="customFormErrorText"></p>
                    </div>
                    <div id="rowk" class="form-group">
                        <div class="col-sm">
                             <button class="btn btn-dark btn-form-search" type="submit" id="submit">Search</button>
                        </div>
                    </div>
                </form>
				
            </div>
        </div>
	</main> 
 
 
 
 
 
 
   <footer class="footer-bg">
        <!-- DOM innerHTML footer -->
        <div id="universal-footer">

            <div class="container-fluid">
                <nav class="navbar  nav-footer navbar-expand-sm">
                    <ul class="navbar-nav nav-footer">
                        <li class="nav-item ">
                            <a class="nav-link nav-item-footer" href="#">About </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-item-footer" href="#">Contact Us </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-item-footer" href="#">Term of Use </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-item-footer" href="#">Policy </a>
                        </li>
                    </ul>
                </nav>
                <div class="right-footer">
                    <p>
                        &copy; 2019     CSprojectportal.com<p>
                </div>
            </div>
        </div>
    </footer>
 
 
 
 
 
</body>
</html>
