<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <connectionStrings>
    <add name=" WebAppConnString"
   connectionString="Data Source=parsley.arvixe.com;Initial Catalog=computerscienceprojectportal;Persist Security Info=True;User ID=computerscienceprojectportal;Password=team4CS673"
   providerName="System.Data.SqlClient"/>
  </connectionStrings>  
 
</configuration>
